@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";
@import "../../css/filters.css";

.stage-timescale-slider {
    top: 0;
}
[dir="ltr"] .stage-timescale-slider {
    right: 0;
}
[dir="rtl"] .stage-timescale-slider {
    left: 0;
}

.stage-timescale-slider-overlay {
    position: fixed;
    background-color: $fullscreen-accent;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-index-stage-header;
}
.stage-timescale-slider-overlay.embedded {
    background-color: transparent;
}

.stage-menu-wrapper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    height: $stage-menu-height;
    padding-top: $space;
    padding-bottom: $space;
}
